* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: #1A1C1E;
   font-family: Arial, Helvetica, sans-serif;
}

.calculator {
   padding: 24px;
   max-width: 1012px;
   margin: 0 auto;
}

.display-container {
   width: 100%;
   height: 200px;
   padding: 32px;
   background-color: #100f0f;
   border-radius: 16px;
   display: flex;
   flex-direction: column;
   gap: 4px;
   align-items: flex-end;
   justify-content: flex-end;
}

.display {
   color: white;
   font-size: 80px;
   font-weight: 600;
}

.mini-display{
   color: rgba(255, 255, 255, 0.627);
   font-size: 24px;
   font-weight: 600;
}

.buttons {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 8px;
}

.button-number{
   background-color: #533D29;
   border: none;
   border-radius: 8px;
   color: white;
   font-size: 24px;
   font-weight: 800;
   height: 74px;
}

.button-number:hover {
   background-color: #261c13;
}

.button-operator{
   background-color: #efa448;
   border: none;
   border-radius: 8px;
   color: white;
   font-size: 24px;
   font-weight: 800;
   height: 74px;
}

.button-operator:hover {
   background-color: #94652c;
}

.button-equals {
   background-color: #a16832;
   border: none;
   border-radius: 8px;
   color: white;
   font-size: 24px;
   font-weight: 800;
   height: 74px;
}

.button-equals:hover {
   background-color: #66411f;
}

.other-buttons {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 8px;
   padding: 16px 0px;
}

.other-buttons button {
   background-color: #837C6C;
   border: none;
   border-radius: 8px;
   color: white;
   font-size: 24px;
   font-weight: 800;
   height: 74px;
}

.other-buttons button:hover {
   background-color: #49453b;
}

.history-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
  justify-content: flex-end;
  z-index: 1000;
}

.history-modal.active {
  display: flex;
}

.history-overlay {
  width: 400px;
  height: 100%;
  background: #1A1C1E;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

.history-title {
   font-size: 40px;
   color: white;
   font-weight: 800;
}

.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history-header button {
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  background-image: url(assets/exit.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.history-content {
  overflow-y: auto;
  flex: 1;
}

.history-entry {
  margin-bottom: 8px;
  padding-bottom: 5px;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.filter {
   display: flex;
   flex-direction: row;
   gap: 8px;
}

.filter-input {
   padding: 8px;
   background-color: #533D29;
   color: #b3a190;
   border-radius: 8px;
   border: 1px solid #b3a190;
   width: 200px;
}

.filter-input::placeholder {
   color: #b3a190;
}

.filter-input:focus {
   outline: none;
}

.filter-operation {
   width: 100%;
   padding: 8px;
   background-color: #533D29;
   color: #b3a190;
   border-radius: 8px;
   border: 1px solid #b3a190;
}