.calculator {
   padding: 40px;
}

.display {
   padding: 24px;
   height: 100px;
}

.buttons {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 5px;
}

.buttons button {
   height: 50px;
}